<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/stylesheet.css">
    <style>
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center">Please select a programming style:</h1>
    <div style="width: 45%; display: inline-block;">
        <a href="/blockly"><img src="static/blocklyimg.jpg" alt="Blockly" height="300px"></a>
        <a href="/blockly"><h3 style="text-align: center">Drag and Drop (Blockly)</h3></a>
    </div>
    <div style="float: right; width: 45%; display: inline-block;" >
        <a href="/python"><img src="static/pythonimg.jpg" alt="Python" height="300px%"></a>
        <a href="/python"><h3 style="text-align: center">Python</h3></a>
    </div>
    <br>
    <a href="/calibrate"><h3 style="text-align: center">Calibrate Robot</h3></a>
</body>
</html>